{% load markdown_extras %}

<div class="jumbotron">
    <div align="center">
        <div class="card border-primary mb-3" align="center" style="max-width: 95%">
            <div class="card-header">
                <h1 class="card-title">
                    <a href="{% url 'blog:detail' blogpost.slug %}">
                        {{ blogpost.title }}
                    </a>
                </h1>
            </div>
            <div class="card-body">
            
                <h4 class="card-title">
                    {{ blogpost.created_time.date }}
                </h4>
                
                {% if blogpost.intro %}
                    <p>{{ blogpost.intro }}</p>                
                {% endif %}

                {% if blogpost.powerpoint %}
                    {{ blogpost.powerpoint | safe }}
                    </br>
                {% endif %}

                {% if blogpost.persona_set.count %}
                    <br/>
                    <h3>Product User Personas</h3>
                    <br/>
                    {% include 'blog/components/blog_personas.html'%}
                {% endif %}
                
                {{ blogpost.content | markdown | safe  }}
            </div>
        </div>
    </div>  
</div>