{% extends 'base.html' %}
{% load markdown_extras %}

{% block meta %}
    <meta name="twitter:title" content="{{blogpost.title}}">
    <meta property="og:title" content="{{blogpost.title}}">
    {% if blogpost.intro %}
        <meta name="twitter:description" content="{{blogpost.intro}}">
        <meta property="og:description" content="{{blogpost.intro}}">
    {% else %}
        <meta name="twitter:description" content="{{blogpost.title}}">
        <meta property="og:description" content="{{blogpost.title}}">
    {% endif %}
{% endblock%}

{% block title %}
    {{blogpost.title}}
{% endblock %}


{% block content %}

{% if blogpost.published == 'PUB' %}
    {% include 'blog/blog_content.html' %}
    {% include 'blog/blog_footer.html' %}
{% else %}
    {% include 'blog/blogpost_list.html' %}
{% endif %}
{% endblock %}